<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.CatAndBrandDataMapper">

  <resultMap id="children" type="com.cskaoyan.mall.bean.catandbrand.Children">
    <result property="value" column="id"/>
    <result property="label" column="name"/>
  </resultMap>
  <select id="findChildren" resultMap="children">
      select id,`name` from cskaoyan_mall_category where `level` = 'L2' and sort_order = #{abc}
  </select>


<resultMap id="categoryList" type="com.cskaoyan.mall.bean.catandbrand.CategoryNeed">
  <result property="value" column="id"/>
  <result property="label" column="name"/>
  <collection property="children" column="sort_order" select="com.cskaoyan.mall.mapper.CatAndBrandDataMapper.findChildren"/>
</resultMap>

  <select id="findCategoryList" resultMap="categoryList">
    select id,`name` ,sort_order from cskaoyan_mall_category where `level` = 'L1'
  </select>


  
  
  

  <resultMap id="brandList" type="com.cskaoyan.mall.bean.catandbrand.BrandMap">
    <result column="id" property="value"/>
    <result column="name" property="label"/>
  </resultMap>

  <select id="findBrandList" resultMap="brandList">
    select id,name from cskaoyan_mall_brand
  </select>


</mapper>