<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.CreateStorgeMapper">




  <insert id="insertCreategory" parameterType="com.cskaoyan.mall.bean.CreateStorge"  >
    <selectKey order="AFTER"   keyProperty="id"   resultType="java.lang.Integer">
      select last_insert_id()
    </selectKey>
    insert into cskaoyan_mall_storage (id, `key`, `name`,
      `type`, `size`, url, add_time,
      update_time)
    values (#{id}, #{key}, #{name},
      #{type}, #{size}, #{url}, now(),
      now())
  </insert>

  <resultMap id="findByUrl" type="com.cskaoyan.mall.bean.CreateStorge" >
    <result column="id" property="id"/>
    <result column="key" property="key"/>
    <result column="name" property="name"/>
    <result column="type" property="type"/>
    <result column="size" property="size"/>
    <result column="url" property="url"/>
    <result column="add_time" property="addTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <select id="findCreategoryBy" resultMap="findByUrl">
    select id,`key`,`name`,`type`,`size`,url,add_time,update_time
    from cskaoyan_mall_storage
    where url = #{url}
  </select>


</mapper>